.transactionHistory {
  width: 600px;
  border-collapse: collapse;
  color: #686461;
  text-align: center;
}
th {
  border-bottom: 3px solid #b9b29f;
  padding: 10px;
}
td {
  padding: 10px;
}
tr:nth-child(odd) {
  background: white;
}
tr:nth-child(even) {
  background: #e8e6d1;
}
